<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ticket details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.16/af-2.2.2/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/b-print-1.5.1/cr-1.4.1/fc-3.2.4/fh-3.1.3/kt-2.3.2/r-2.2.1/rg-1.0.2/rr-1.2.3/sc-1.4.4/sl-1.2.5/datatables.min.css"/>

    <!-- Bootstrap core CSS -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.16/af-2.2.2/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/b-print-1.5.1/cr-1.4.1/fc-3.2.4/fh-3.1.3/kt-2.3.2/r-2.2.1/rg-1.0.2/rr-1.2.3/sc-1.4.4/sl-1.2.5/datatables.min.js"></script>

  </head>
<body>
<div>
<%- include('../partials/navbar') %>
</div>
<script>
function findDetails(){
str = window.location.pathname;
var n = str.lastIndexOf('/');
var result = str.substring(n + 1);
return result;
}
$(document).ready(function () {

  $('#orderInfo').DataTable({
    'columnDefs': [
       {
          'targets': 0,
          'render': function(data, type, full, meta){
             if(type === 'display'){
               var trimmedString = data.substring(0, 10);
               return trimmedString;
             }

             return data;
          }
       }
    ],
    "ajax": {
      url: "/orderdetails?where=\{%22orderId%22:%22" + findDetails() + "%22\}",
      type: 'GET',
      dataType: 'json',
      headers: {
        'Authorization': 'Bearer '+ JSON.parse(sessionStorage.getItem("jwtToken"))
      },
  "dataSrc": function ( json ) {

    return json;
}

  },
  columns: [

    { data: 'date' },
    { data: 'state', "defaultContent": "-" },
    { data: 'city',"defaultContent": "-" },
    { data: 'comment',"defaultContent": "-" },

]

});
$.ajax({
 url: "/order/" + findDetails(),
 type: 'GET',
 headers: {
   'Authorization': 'Bearer '+ JSON.parse(sessionStorage.getItem("jwtToken"))
 },
 data: {
  order: findDetails(),
  client: JSON.parse(sessionStorage.getItem("userEmail")),
  message: $('#message').val()
 },
 success: function (data) {
   $('#clientName').val(data.client.firstName);
   $('#clientLastname').val(data.client.lastName);
   $('#product').val(data.product);
   $('#damage').val(data.damage);
   $('#generalState').val(data.status);

   //window.location.replace("/me.html");
 },
 error: function (error) {
   console.log(error);

 }
});
});
function update() {
  $.ajax({
   url: "/order/" + findDetails(),
   type: 'PUT',
   headers: {
     'Authorization': 'Bearer '+ JSON.parse(sessionStorage.getItem("jwtToken"))
   },
   data: {
     model: 'order',
    status: $('#generalState').val(),
    product: $('#product').val(),
    damage: $('damage').val()
   },
   success: function (data) {
location.reload();

   },
   error: function (error) {
     console.log(error);

   }
  });
}
function details() {
    str = window.location.pathname;
    var n = str.lastIndexOf('/');
    var result = str.substring(n + 1);
    $.ajax({
     url: "/order/" + findDetails(),
     type: 'GET',
     headers: {
       'Authorization': 'Bearer '+ JSON.parse(sessionStorage.getItem("jwtToken"))
     },

     success: function (data) {

       $.ajax({
        url: "/orderdetails",
        type: 'POST',
        data: {
         orderId: findDetails(),
         date: $('#date').val(),
         state: $('#state').val(),
         city: $('#city').val(),
         comment: $('#comment').val(),
         email: data.client.email
        },
        headers: {
          'Authorization': 'Bearer '+ JSON.parse(sessionStorage.getItem("jwtToken"))
        },
        success: function (data) {
          location.reload();
        },
        error: function (error) {
          console.log(error);
        }
       });

     },
     error: function (error) {
       console.log(error);
     }
    });

}

</script>
<p></p>
<div class="container">
  <div class="tabela">
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingZero">
                <h1 class="mb-0">
                  <button class="btn btn-link btn-lg" data-toggle="collapse" data-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                    General
                  </button>
                </h1>
              </div>

              <div id="collapseZero" class="collapse" aria-labelledby="headingZero" data-parent="#accordion">
                <div class="card-body">
                  <form>
                    <div class="form-group">
                      <label>Client</label>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label hidden for="clientName">Client</label>
                        <input type="text" class="form-control" id="clientName" disabled>
                      </div>
                      <div class="form-group col-md-6">
                        <label hidden for="clientLastname">Last name </label>
                        <input type="text" class="form-control" id="clientLastname" disabled>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="product">Product</label>
                      <input type="text" class="form-control" id="product">
                    </div>
                    <div class="form-group">
                      <label for="damage">Damage</label>
                      <input type="text" class="form-control" id="damage">
                    </div>
                    <div class="form-group">
                      <label for="generalState">Status</label>
                      <select id="generalState" class="form-control">
                        <option selected><%= generalState[0] %></option>
                        <% for(var i=1; i<generalState.length; i++) {%>
                           <option><%= generalState[i] %></option>
                        <% } %>
                      </select>
                    </div>
                    <div class="text-center">
                      <input type="button" class="btn btn-primary" onclick=update() value="Update">
                    </div>
                  </form>
          </div>
              </div>
            </div>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h1 class="mb-0">
        <button class="btn btn-link btn-lg" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Details
        </button>
      </h1>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
<table id="orderInfo" name="orderInfo" class="table">
  <thead>
    <tr>

    <th>Date</th>
    <th>Status</th>
    <th>City</th>
    <th>Comment</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<input type="hidden" id="userId" name="userId">
</div>
    </div>
  </div>
  <div class="card">
      <div class="card-header" id="headingTwo">
        <h3 class="mb-0">
          <button class="btn btn-link collapsed btn-lg" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Add status
          </button>
        </h3>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="date">
              </div>
              <div class="form-group col-md-6">
                <label for="state">Status</label>
                <select id="state" class="form-control">
                  <option selected><%= states[0] %></option>
                  <% for(var i=1; i<states.length; i++) {%>
                     <option><%= states[i] %></option>
                  <% } %>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city">
            </div>
            <div class="form-group">
              <label for="comment">Comment</label>
              <input type="text" class="form-control" id="comment">
            </div>
            <div class="text-center">
              <input type="button" class="btn btn-primary" onclick=details() value="Create">
            </div>
          </form>

                  </div>
      </div>
    </div>

</div>
</div>
</div>
</body>

</html>
